language = "python3"

#Ex_Nivel_?? = indique o nome da pasta.
#OBI??       = indique o ano da prova.
#P?_??       = indique o nivel e o nome do exercicio.

#Roda os códigos do nivel Junior.
run = "python Ex_Nivel_01/OBI21_P1_Tempo.py"
